@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar styling - custom

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #9ae600 transparent; /* thumb track */
}

/* Chrome, Edge, Brave */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color:  #9ae600;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7cb800;
}
